element.style {
    color: #5c5c5c;
}
ul
{
  list-style-type: none;
}

textarea {
   resize: none;
}

a:link {
    text-decoration: none;
}

.fullwidth{
  width: 100%;
}
.paddingZero{
  padding: 0;
}

.prevPager{
  float: left;
  padding:20px;
  font-size: 9px
}

.nextPager{
  float: right;
  padding:20px;
  margin-right: 30px;
  font-size: 9px;
}

.blog_section{
  color: #5c5c5c;
  font-size: 9pt;
  color: #101010;
  font-family: Verdana,Helvetica,Arial;
}

.blog_item{
  margin:20px 20px 50px 20px;
}
.blog_title{
  font-weight: bold;
}

.blog_date{
    margin-left: 10px;
    font-size: 10px;
    color: #902400;
}

.deleteBlogButton{
  margin-left: 20px;
}


.titleInputBox{
  margin-bottom: 20px;
}

.textInputBox{
  font-size: 9px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: rgb(217, 217, 217);
}